.language__switch {
  position: absolute;
  left: 20px;
  top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
}

.language {
  position: relative;
  width: 50px;
  height: 20px;
  border-radius: 10px;
  background-color: orange;
  display: flex;
  align-items: center;
  transition: 1s linear;
  box-shadow: inset -3px 2px 5px rgba(0, 0, 0, 0.5);
}

.language__btn {
  position: absolute;
  width: 50px;
  height: 20px;
  border-radius: 10px;

  transition: 1s;

  /* right: 5px; */
}
.language__btn::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  left: 15px;
  background-color: var(--clr-slate600);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 1);

  transition: left 1s;
  /* left: 35px; */
}
.right::before {
  left: 35px;
}
.left::before {
  left: 15px;
}

.language__img1 {
  width: 25px;
  margin: 0 5px;
  transition: filter 1s;
}
.language__img2 {
  width: 25px;
  margin: 0 5px;
  filter: grayscale(100%);
  transition: filter 1s;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  transition: height 1s;
}
.header__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 1rem;
}
.header__hamburger {
  width: var(--size-2xl);
  height: var(--size-2xl);
  color: var(--clr-light);
  display: block;
  position: absolute;
  top: var(--size-2xl);
  right: var(--size-2xl);
}

.header__link {
  display: block;
  text-decoration: none;
  color: var(--clr-slate600);
  font-weight: 600;
  font-size: var(--size-xs);
}
.header__line {
  display: none;
}
.header__link:hover {
  color: orange;
}
.header__sun-li {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__sun {
  color: var(--clr-slate600);
  width: var(--size-base);
  height: var(--size-base);
}
.header__resume {
  text-decoration: none;
  font-size: var(--size-xs);
}

/* xs */
/* @media (min-width: 475px) {
} */

/* sm */
/* @media (min-width: 640px) {
} */

/* md */
@media (min-width: 768px) {
  .header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .header__menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 2em;
  }
  .header__link {
    font-size: var(--size-xs);
    text-decoration: none;
    font-weight: 600;
    color: var(--clr-slate600);
    transition: color 0.5s;
    letter-spacing: -0.05em;
  }
  .header__link:hover {
    color: orange;
  }
  .header__line {
    border: 1px solid var(--clr-slate600);
    height: 2rem;
    display: inline-block;
  }
  .header__sun {
    color: var(--clr-slate600);
    width: var(--size-base);
    height: var(--size-base);
  }
  .header__resume {
    text-decoration: none;
    font-size: var(--size-xs);
  }
  .header__hamburger {
    display: none;
  }
}

/* lg */
@media (min-width: 1024px) {
  .header__link {
    font-size: var(--size-sm);
  }

  .header__sun {
    width: var(--size-2xl);
    height: var(--size-2xl);
  }
  .header__resume {
    font-size: var(--size-sm);
  }
}

/* xl */
/* @media (min-width: 1280px) {
} */
/*  */

/* 2xl */
/* @media (min-width: 1536px) {
} */
