.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.projects__title {
  color: var(--clr-light);
  text-transform: uppercase;
}
.projects__desc {
  color: var(--clr-slate600);
  max-width: 60ch;
}

.project__title {
  color: var(--clr-slate400);
}
.project__desc {
  color: var(--clr-slate600);
  padding: 0 1rem;
}

.project__img {
  position: relative;
  border: 1px solid orange;
  background-color: orange;
}
.project__img img {
  width: 100%;
}
.project__container-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

/* filter */
/* .project__img::after {
  content: "";
  position: absolute;
  inset: 0rem;
}
.project__img:hover::after {
  opacity: 0;
} */
/* xs */
/* @media (min-width: 475px) {
} */

/* sm */
@media (min-width: 640px) {
  .work_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

/* md */
/* @media (min-width: 768px) {
} */

/* lg */
@media (min-width: 1024px) {
}

/* xl */
@media (min-width: 1280px) {
}

/* 2xl */
/* @media (min-width: 1536px) {
} */
