.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.projects__title {
  margin-bottom: 1rem;
  color: var(--clr-light);
  text-transform: uppercase;
}
.projects__desc {
  color: var(--clr-slate600);
  max-width: 60ch;
}

.project__title {
  color: var(--clr-slate400);
  font-size: var(--size-lg);
}
.project__desc {
  color: var(--clr-slate600);
  font-size: var(--size-xs);
  padding: 0 1rem;
}
.project__img {
  aspect-ratio: 1/1;
  position: relative;
}
.project__img::before {
  content: "";
  position: absolute;
  inset: 0rem;
  background: var(--clr-slate800);
  opacity: 0.5;
  transition: 1s;
}
.project__img:hover::before {
  opacity: 0;
}
.project__img img {
  width: 100%;
  object-fit: contain;
}
.project__about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  margin: 1rem 1rem;
}

.project_img1 {
  grid-area: img1;
}
.project_img2 {
  grid-area: img2;
}
.project_img3 {
  grid-area: img3;
}
.project_img4 {
  display: flex;

  grid-area: img4;
  background-color: #1e293b;
}
.project_about1 {
  grid-area: abt1;
}
.project_about2 {
  grid-area: abt2;
}
.project_about3 {
  grid-area: abt3;
}
.project_about4 {
  grid-area: abt4;
}

.bar__container {
  width: 200px;
  height: 20px;
  border: 1px solid var(--clr-light);
  position: relative;
  overflow: hidden;
  margin-top: 1rem;
  border-radius: 1rem;
  background: var(--clr-slate800);
}

.bar {
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, yellow, orange, orange, red);
  position: absolute;
  border-radius: 1rem;
  opacity: 0;
}
.project__process {
  color: var(--clr-slate600);
  position: relative;
  font-weight: 600;
}

.project__process::before {
  content: "";
  position: absolute;
  height: 100%;
  bottom: -1.5ch;
  width: 1%;
  transform: translateX(-10px) rotate(90deg);
  transition: 1s;
  box-shadow: 0 0 10px 1px gray;
  background-color: white;
  opacity: 0;
}
.process-animation::before {
  animation: text-animate 5s;
}
.fill-animation {
  animation: process 1s ease-in 1 forwards;
}
@keyframes process {
  from {
    width: 0;
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes text-animate {
  0%,
  100% {
    opacity: 0;
    animation-delay: 1s;
  }
  25%,
  75% {
    opacity: 1;
    box-shadow: -10px 0 10px 1px white;
  }
  50% {
    transform: translateX(14ch) rotate(90deg);
    opacity: 0;
  }
}

.github {
  margin-top: 0.3rem;
  display: flex;
  align-items: center;
  width: 150px;
  justify-content: space-evenly;
  font-weight: bold;
}
.github__img {
  height: 50px;
  width: 50px;
  filter: invert();
}
.github__link {
  text-decoration: none;
}

/* filter */
/* .project__img::after {
  content: "";
  position: absolute;
  inset: 0rem;
}
.project__img:hover::after {
  opacity: 0;
} */
/* xs */
@media (min-width: 475px) {
  .project__title {
    font-size: var(--size-2xl);
  }
  .project__desc {
    font-size: var(--size-base);
  }
}

/* sm */
@media (min-width: 640px) {
}

/* md */
@media (min-width: 768px) {
  .project_container {
    padding-top: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "img1 abt1"
      "abt2 img2"
      "img3 abt3"
      "abt4 img4";
  }
}

/* lg */
@media (min-width: 1024px) {
  .projects__title {
    font-size: var(--size-4xl);
    padding-bottom: 1rem;
  }
  .projects__desc {
    font-size: var(--size-xl);
  }
  .project__title {
    font-size: var(--size-2xl);
    margin-bottom: 1rem;
  }
  .project__desc {
    font-size: var(--size-base);
    margin-top: 0.2rem;
  }
  .github {
    margin-top: 1rem;
  }
}

/* xl */
@media (min-width: 1280px) {
  .project_container {
    padding-left: 100px;
    padding-right: 100px;
  }
}

/* 2xl */
/* @media (min-width: 1536px) {
} */
